body {
    background-image: url("background.png");
    background-size: 100% auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    color:rgb(199, 108, 140);
    text-align: center;
    padding: 20% 20%;
    font-size: 17px;
  }
  
h1 {
    color:rgb(231, 79, 132);
    font-size: 30px;
  }

h3 {
    color:rgb(231, 79, 132)
  }

.container {
  padding: 10px;
  position: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 12px;
  cursor: pointer;
  background-color: #ffcfdc;
  border-radius: 10px;
  border-color: #ffcfdc;
  color:rgb(179, 92, 123)
}

button:hover {
  background-color: #f0c2cf;
}

.depth-image {
  width: 20%;
  transition: transform 0.3s ease, z-index 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.depth-image:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

#flowers {
  width: 80%;
}

.countup-container {
  text-align: center;
  margin-top: 50px;
}

.countup-container div {
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0;
}

#bears {
  width: 40%;
}